@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, rgb(70, 160, 240), #1f4fbf);
    isolation: isolate;
    overflow: hidden;
}

.sec-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper {
    width: 40rem;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-right: 5rem;
    margin-top: 3rem;
    z-index: 100;
}

.title {
    font-size: 4.5rem;
    font-family: 'Fruktur', cursive;
    color: rgb(187, 230, 255);
    padding-bottom: 1rem;
    margin: 0 2rem;
    border-bottom: 2px solid rgb(149, 216, 255);
    align-self: center;
    z-index: 100;
}

.paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(183, 183, 249);
    text-transform: uppercase;
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.col-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 30%;
}

.col-1 *+* {
    margin-top: 2rem;
}

.col-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.item {
    width: 7rem;
    height: 6rem;
    transition: transform .5s ease;
}

.item.active {
    transform: scale(1.2);
    outline: 5px solid rgb(149, 216, 255);
}

.col-2 {
    flex-basis: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    position: relative;
    height: 100%;
    width: 25rem;
    display: flex;
    align-items: center;
}


.btn {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(149, 216, 255);
    z-index: 10;
    cursor: pointer;
}

.btn-prev {
    left: -1.8rem;
}

.btn-next {
    right: -1.8rem;
}

.slider {
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.slide {
    position: absolute;
    height: 100%;
    transition: transform 1s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square,
.circle {
    position: absolute;
}

.square {
    width: 20rem;
    height: 25rem;
    transform: rotate(20deg);
}

.circle {
    border-radius: 50%;
    transform: rotate(20deg);
}

.square--1 {
    bottom: -3%;
    left: -12%;
    background: rgba(79, 108, 219, .6);
}

.square--2 {
    bottom: -13%;
    left: -10%;
    background: rgb(105, 141, 255);
    z-index: -1;
}

.circle--1 {
    width: 20rem;
    height: 20rem;
    top: -20%;
    right: -13%;
    background: rgb(108, 136, 249);
}

.circle--2 {
    width: 23rem;
    height: 23rem;
    top: -17%;
    right: -13%;
    background: rgb(132, 161, 255);
    z-index: -1;
}

@media only screen and (max-width: 56.25em) {
    .title {
        font-size: 3rem;
    }

    .wrapper {
        flex-direction: column;
        align-self: center;
        margin-right: 0;
    }

    .col-1 {
        justify-content: center;
        flex-direction: row;
        margin-bottom: 2rem;
    }

    .col-1 *+* {
        margin-top: 0;
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 30em) {
    .col-1 {
        display: none;
    }

    .btn-prev {
        left: 0;
    }

    .btn-next {
        right: 0;
    }

    .btn-prev,
    .btn-next {
        color: rgb(0, 0, 0);
    }
}